body{
	font-family: "微软雅黑";
}
.bm-bg{
	background-image: url('../images/bg.png');
	background-size: cover;
	height: 120px;
}
.bm{
	margin-bottom: 30px;
}
.bm h3{
	margin-top: 45px;
	margin-bottom: 40px;
}
.to{
	margin-top: 10px;
}
/**报名成功**/
.cg{
	margin-bottom: 70px;
}
.cg .cg-title{
	border-bottom: 1px solid #e3e4e5;
}
.cg-title h4{
	font-size: 16px;
}
.cg-to{
	margin-top: 30px;
}
.panel{
	box-shadow: 0px 0px 8px #e3e4e5;
}